pkgbase = python-smart-open
	pkgdesc = Utils for streaming large files (S3, HDFS, gzip, bz2...)
	pkgver = 1.8.2
	pkgrel = 1
	url = https://github.com/RaRe-Technologies/smart_open
	arch = x86_64
	license = LGPL
	makedepends = python-setuptools
	depends = python
	depends = python-requests
	depends = python-boto
	depends = python-bz2file
	depends = python-boto3
	source = https://github.com/RaRe-Technologies/smart_open/archive/1.8.2.tar.gz
	md5sums = 87cbd6f73b08d81c51283ae0b7e3330f

pkgname = python-smart-open

