pkgbase = python-smart-open
	pkgdesc = Utils for streaming large files (S3, HDFS, gzip, bz2...)
	pkgver = 1.8.1
	pkgrel = 1
	url = https://github.com/RaRe-Technologies/smart_open
	arch = x86_64
	license = LGPL
	makedepends = python-setuptools
	depends = python
	depends = python-requests
	depends = python-boto
	depends = python-bz2file
	depends = python-boto3
	source = https://github.com/RaRe-Technologies/smart_open/archive/1.8.1.tar.gz
	md5sums = d63655d910c0366ee3c4fdf1ca7205b1

pkgname = python-smart-open

