pkgbase = intel-mkl-bin
	pkgdesc = Intel Math Kernel Library (Intel® MKL)
	pkgver = 2019.1.144
	pkgrel = 1
	url = http://software.intel.com/en-us/articles/non-commercial-software-download/
	arch = x86_64
	license = custom
	makedepends = libarchive
	makedepends = sed
	makedepends = gzip
	depends = bash
	depends = gcc
	options = strip
	options = libtool
	options = staticlibs
	source = http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/14895/l_mkl_2019.1.144.tgz
	source = intel-mkl.conf
	source = intel-mkl.sh
	source = intel-mkl.install
	source = intel-mkl-th.conf
	source = intel-openmp.conf
	sha256sums = 5205a460a9c685f7a442868367389b2d0c25e1455346bc6a37c5b8ff90a20fbb
	sha256sums = a856326362e9b80c19dc237cbf66bf3d96a69bd7ad1baff99ec9849f8208348c
	sha256sums = fa983e00cc9005d88317af331f132e1cabcb5fbbf8d13971ab9f8ccd9bb9ee9f
	sha256sums = 181000db2ac371967fefdf2b33f76dbed7f8d625d409ce19ab8e324f9d90a69f
	sha256sums = 429219830e289131eecd3ece5ac9308160cca4c311f44954ad6d19839c6ebae4
	sha256sums = 1511e2a1242950398129b8c149fecc464dc2db876ab6a0c8fd694f2ff524f01c

pkgname = intel-mkl-bin
	install = intel-mkl.install
	provides = intel-mkl
	conflicts = intel-mkl

pkgname = intel-openmp-bin
	provides = intel-openmp
	conflicts = intel-openmp

