pkgbase = kaldi-git
	pkgdesc = Speech recognition research toolkit (Built with Intel MKL)
	pkgver = 5.5.r8611.10f2fcba9
	pkgrel = 1
	url = https://github.com/kaldi-asr/kaldi
	arch = x86_64
	license = APACHE
	makedepends = git
	makedepends = rsync
	makedepends = gcc
	makedepends = python
	makedepends = wget
	makedepends = subversion
	makedepends = sox
	makedepends = chrpath
	depends = python
	depends = sed
	optdepends = cuda: For GPU support
	optdepends = intel-mkl: need intel-openmp as well
	optdepends = intel-openmp
	optdepends = openblas
	optdepends = python-numpy: For sequitur-g2p
	optdepends = python-six: For sequitur-g2p
	optdepends = sox
	provides = kaldi
	provides = kaldi-openfst
	provides = kaldi-kaldi_lm
	provides = kaldi-irstlm
	provides = kaldi-sctk
	provides = kaldi-shp2pipe
	conflicts = kaldi
	conflicts = kaldi-openfst
	conflicts = kaldi-kaldi_lm
	conflicts = kaldi-irstlm
	conflicts = kaldi-sctk
	conflicts = kaldi-shp2pipe
	source = git+https://github.com/kaldi-asr/kaldi
	sha256sums = SKIP

pkgname = kaldi-git

