pkgbase = opencv-cuda-mkl
	pkgdesc = Open Source Computer Vision Library
	pkgver = 4.1.0
	pkgrel = 1
	url = http://opencv.org/
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = python-numpy
	makedepends = python-setuptools
	makedepends = mesa
	makedepends = eigen
	makedepends = hdf5
	makedepends = gtk3
	makedepends = vtk
	makedepends = glew
	depends = intel-tbb
	depends = openexr
	depends = gst-plugins-base
	depends = libdc1394
	depends = libgphoto2
	depends = jasper
	depends = ffmpeg
	depends = cuda
	depends = intel-mkl
	optdepends = opencv-samples: samples
	optdepends = gtk3: for the HighGUI module
	optdepends = vtk: for the viz module
	optdepends = hdf5: support for HDF5 format
	optdepends = opencl-icd-loader: For coding with OpenCL
	optdepends = python-numpy: Python interface
	source = opencv-4.1.0.tar.gz::https://github.com/opencv/opencv/archive/4.1.0.zip
	source = opencv_contrib-4.1.0.tar.gz::https://github.com/opencv/opencv_contrib/archive/4.1.0.tar.gz
	sha256sums = 2c75b129da2e2c8728d168b7bf14ceca2da0ebe938557b109bae6742855ede13
	sha256sums = e7d775cc0b87b04308823ca518b11b34cc12907a59af4ccdaf64419c1ba5e682

pkgname = opencv-cuda-mkl
	provides = opencv
	conflicts = opencv

pkgname = opencv-cuda-mkl-samples
	pkgdesc = Open Source Computer Vision Library (samples)
	depends = opencv=4.1.0
	provides = opencv-samples
	conflicts = opencv-samples

