pkgbase = opencv-cuda-mkl
	pkgdesc = Open Source Computer Vision Library
	pkgver = 4.1.1
	pkgrel = 1
	url = http://opencv.org/
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = python-numpy
	makedepends = python-setuptools
	makedepends = mesa
	makedepends = eigen
	makedepends = hdf5
	makedepends = gtk3
	makedepends = vtk
	makedepends = glew
	depends = intel-tbb
	depends = openexr
	depends = gst-plugins-base
	depends = libdc1394
	depends = libgphoto2
	depends = jasper
	depends = ffmpeg
	depends = cuda
	depends = intel-mkl
	optdepends = opencv-samples: samples
	optdepends = gtk3: for the HighGUI module
	optdepends = vtk: for the viz module
	optdepends = hdf5: support for HDF5 format
	optdepends = opencl-icd-loader: For coding with OpenCL
	optdepends = python-numpy: Python interface
	source = opencv-4.1.1.tar.gz::https://github.com/opencv/opencv/archive/4.1.1.zip
	source = opencv_contrib-4.1.1.tar.gz::https://github.com/opencv/opencv_contrib/archive/4.1.1.tar.gz
	sha256sums = d34985c7b4283519c032e3585b30846644f56c81acba35693295ff8930f080aa
	sha256sums = 9f85d380758498d800fec26307e389620cde8b1a2e86ab51cddc5200fbe37102

pkgname = opencv-cuda-mkl
	provides = opencv
	conflicts = opencv

pkgname = opencv-cuda-mkl-samples
	pkgdesc = Open Source Computer Vision Library (samples)
	depends = opencv=4.1.1
	provides = opencv-samples
	conflicts = opencv-samples

