pkgbase = python-gensim
	pkgdesc = Python framework for fast Vector Space Modelling
	pkgver = 3.7.3
	pkgrel = 1
	url = http://nlp.fi.muni.cz/projekty/gensim/
	arch = x86_64
	license = LGPL
	makedepends = python-setuptools
	makedepends = cython
	depends = python
	depends = python-numpy
	depends = python-scipy
	depends = python-six
	depends = python-smart-open
	optdepends = python-pyro
	source = python-gensim-3.7.3.tar.gz::https://github.com/RaRe-Technologies/gensim/archive/3.7.3.tar.gz
	md5sums = 17e7f3f6f68c767397354b1e67b326c1

pkgname = python-gensim

