pkgbase = magma-mkl
	pkgdesc = Provides a dense linear algebra library similar to LAPACK but for heterogeneous/hybrid architectures, starting with current 'Multicore+GPU' systems. (with CUDA and MKL)
	pkgver = 2.5.1
	pkgrel = 2
	url = http://icl.cs.utk.edu/magma/
	arch = x86_64
	license = custom
	makedepends = gcc-fortran
	depends = cuda>=6.5.0
	depends = gsl
	depends = python
	depends = intel-mkl
	provides = magma
	conflicts = magma
	options = staticlibs
	source = http://icl.cs.utk.edu/projectsfiles/magma/downloads/magma-2.5.1.tar.gz
	sha1sums = 721a1f2e8aeda2bb4ffd6c05a030798292895399

pkgname = magma-mkl

