pkgbase = python-pytorch-cuda-mkl-git
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration
	pkgver = 1.0rc0.r5091.g4b1df5c1f5
	pkgrel = 1
	url = http://pytorch.org
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = python-setuptools
	depends = google-glog
	depends = gflags
	depends = opencv
	depends = openmp
	depends = nccl
	depends = pybind11
	depends = python
	depends = python-yaml
	depends = python-numpy
	depends = protobuf
	depends = ffmpeg
	depends = cuda
	depends = cudnn
	depends = magma
	depends = intel-mkl
	provides = python-pytorch
	conflicts = python-pytorch
	source = pytorch::git+https://github.com/pytorch/pytorch.git
	sha256sums = SKIP

pkgname = python-pytorch-cuda-mkl-git

