pkgbase = python-pywavelets
	pkgdesc = PyWavelets - Wavelet Transforms in Python
	pkgver = 1.2.0
	pkgrel = 1
	url = http://pywavelets.readthedocs.org
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = python-setuptools
	makedepends = cython
	depends = python-numpy
	source = https://github.com/PyWavelets/pywt/archive/v1.2.0.tar.gz
	md5sums = 63601a7992231caa8865f97cb8b16a0b

pkgname = python-pywavelets
