pkgbase = python-numpy-mkl-gcc
	pkgdesc = Scientific tools for Python compiled with intel mkl using gcc
	pkgver = 1.16.1
	pkgrel = 1
	url = http://numpy.scipy.org/
	arch = x86_64
	license = custom
	makedepends = python-setuptools
	makedepends = python-nose
	makedepends = cython
	makedepends = glibc
	makedepends = gcc-fortran
	depends = intel-mkl
	depends = python
	provides = python3-numpy=1.16.1
	provides = python-numpy=1.16.1
	provides = python-numpy-mkl=1.16.1
	conflicts = python3-numpy
	conflicts = python-numpy
	replaces = python3-numpy
	options = staticlibs
	source = https://github.com/numpy/numpy/archive/v1.16.1.tar.gz
	source = site.cfg
	sha256sums = 59485e2d172c4c3e27307969ef2c1220b98efcf59cbf373bec41da19f7b69b92
	sha256sums = ae2113417043800eb7fe3d2282ebb5bed051d8562e137563c4a0f785b7e25dc4

pkgname = python-numpy-mkl-gcc

