pkgbase = python-pytorch-cuda-mkl
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration
	pkgver = 1.2.0
	pkgrel = 2
	url = http://pytorch.org
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = python-setuptools
	depends = google-glog
	depends = gflags
	depends = opencv
	depends = openmp
	depends = nccl
	depends = pybind11
	depends = python
	depends = python-yaml
	depends = python-numpy
	depends = protobuf
	depends = ffmpeg
	depends = python-future
	depends = cuda
	depends = cudnn
	depends = magma
	depends = intel-mkl
	provides = python-pytorch
	provides = python-pytorch-cuda
	conflicts = python-pytorch
	source = pytorch::git+https://github.com/pytorch/pytorch.git#tag=v1.2.0
	source = https://github.com/pytorch/pytorch/pull/24143.patch
	sha256sums = SKIP
	sha256sums = 773971a391e2d517630b37150ec20bd4ba06181c5c9767d51cd7358729b4aa5a

pkgname = python-pytorch-cuda-mkl

