pkgbase = python-pytorch-cuda-mkl
	pkgdesc = Tensors and Dynamic neural networks in Python with strong GPU acceleration
	pkgver = 1.0.1
	pkgrel = 1
	url = http://pytorch.org
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = python-setuptools
	depends = python
	depends = python-yaml
	depends = python-numpy
	depends = opencv
	depends = nccl
	depends = cuda
	depends = cudnn
	depends = magma
	depends = intel-mkl
	provides = python-pytorch
	conflicts = python-pytorch
	source = pytorch::git+https://github.com/pytorch/pytorch.git#tag=v1.0.1
	source = git+https://github.com/Maratyszcza/cpuinfo.git
	source = git+https://github.com/ARM-software/ComputeLibrary.git
	source = git+https://github.com/Maratyszcza/NNPACK.git
	source = git+https://github.com/Maratyszcza/FP16.git
	source = git+https://github.com/Maratyszcza/FXdiv.git
	source = git+https://github.com/Maratyszcza/psimd.git
	source = git+https://github.com/Maratyszcza/pthreadpool.git
	source = git+https://github.com/pytorch/QNNPACK
	source = git+https://github.com/google/benchmark.git
	source = git+https://github.com/NVlabs/cub.git
	source = git+https://github.com/eigenteam/eigen-git-mirror.git
	source = git+https://github.com/pytorch/fbgemm
	source = git+https://github.com/google/gemmlowp.git
	source = git+https://github.com/facebookincubator/gloo
	source = git+https://github.com/google/googletest.git
	source = git+https://github.com/intel/ideep
	source = git+https://github.com/Yangqing/ios-cmake.git
	source = git+https://github.com/NVIDIA/nccl
	source = git+https://github.com/intel/ARM_NEON_2_x86_SSE.git
	source = git+https://github.com/onnx/onnx.git
	source = git+https://github.com/onnx/onnx-tensorrt
	source = git+https://github.com/google/protobuf.git
	source = git+https://github.com/pybind/pybind11.git
	source = git+https://github.com/PeachPy/enum34.git
	source = git+https://github.com/Maratyszcza/PeachPy.git
	source = git+https://github.com/benjaminp/six.git
	source = git+https://github.com/shibatch/sleef
	source = git+https://github.com/facebook/zstd.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = python-pytorch-cuda-mkl

