pkgbase = python-scipy-mkl-gcc
	pkgdesc = SciPy is open-source software for mathematics, science, and engineering.
	pkgver = 1.2.1
	pkgrel = 1
	url = http://www.scipy.org/
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	makedepends = cython
	makedepends = gcc-fortran
	makedepends = python-numpy
	makedepends = python-setuptools
	depends = python-numpy-mkl
	optdepends = python-pillow: for image saving module
	provides = python3-scipy=1.2.1
	provides = python-scipy=1.2.1
	provides = python-scipy-mkl=1.2.1
	provides = scipy=1.2.1
	conflicts = python-scipy
	replaces = python-scipy
	source = https://github.com/scipy/scipy/archive/v1.2.1.tar.gz
	sha256sums = d4b9c1c1dee37ffd1653fd62ea52587212d3b1570c927f16719fd7c4077c0d0a

pkgname = python-scipy-mkl-gcc

