pkgbase = faiss-mkl
	pkgdesc = A library for efficient similarity search and clustering of dense vectors. (with CUDA and MKL)
	pkgver = 1.6.1
	pkgrel = 1
	url = https://github.com/facebookresearch/faiss
	arch = x86_64
	license = BSD
	makedepends = swig
	depends = cuda
	depends = python
	depends = python-numpy
	depends = intel-mkl
	provides = faiss
	conflicts = faiss
	source = faiss-mkl-1.6.1.tar.gz::https://github.com/facebookresearch/faiss/archive/v1.6.1.tar.gz
	sha1sums = af09d8737cbc5ce2212969ba845b6d367ad9db4a

pkgname = faiss-mkl

