pkgbase = faiss-mkl
	pkgdesc = A library for efficient similarity search and clustering of dense vectors. (with CUDA and MKL)
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/facebookresearch/faiss
	arch = x86_64
	license = BSD
	makedepends = swig
	depends = cuda
	depends = python
	depends = python-numpy
	depends = intel-mkl
	provides = faiss
	conflicts = faiss
	source = https://github.com/facebookresearch/faiss/archive/v1.5.1.tar.gz
	source = https://github.com/facebookresearch/faiss/pull/771.patch
	sha1sums = 40ea0fa92e17658674b37d4b6b521ac7f065952b
	sha1sums = af31a11f30af3e4d7206fe30928d919cf3dffdb7

pkgname = faiss-mkl

