pkgbase = python-gym
	pkgdesc = A toolkit for developing and comparing reinforcement learning algorithms.
	pkgver = 0.17.3
	pkgrel = 1
	url = https://gym.openai.com/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-scipy
	depends = python-numpy
	depends = python-six
	depends = python-pyglet
	depends = python-cloudpickle
	optdepends = python-atari-py
	optdepends = python-pillow
	optdepends = python-opengl
	source = python-gym-0.17.3.tar.gz::https://github.com/openai/gym/archive/0.17.3.tar.gz
	md5sums = 973a6ad6ac17463f1e04dbf200f73b5b

pkgname = python-gym

